@charset "utf-8";
/* CSS Document */
/*b nazanin font*/
@font-face {
    font-family: 'B Nazanin';
    src: url('Font/BNazanin.eot');
    src: url('Font/BNazanin.eot?#iefix') format('embedded-opentype'),
        url('Font/BNazanin.woff2') format('woff2'),
        url('Font/BNazanin.woff') format('woff'),
        url('Font/BNazanin.ttf') format('truetype'),
        url('Font/BNazanin.svg#BNazanin') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*iran nastaliq font*/
@font-face {
    font-family: 'IranNastaliq';
    src: url('Font/IranNastaliq.eot');
    src: url('Font/IranNastaliq.eot?#iefix') format('embedded-opentype'),
        url('Font/IranNastaliq.woff2') format('woff2'),
        url('Font/IranNastaliq.woff') format('woff'),
        url('Font/IranNastaliq.ttf') format('truetype'),
        url('Font/IranNastaliq.svg#IranNastaliq') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* for all tags*/
*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	
}
/* navbar*/
nav{
	width: 100%;
	height: 70px;
	background-color:black;
	opacity: 0.9;
	position:fixed;
	top:0px;
	font-family: 'B Nazanin';
	z-index: 100;
}
/*page logo in nav*/
nav div #logo i{
	float: left;
	color: #FDDB83;
	margin-top: 10px;
	margin-left: 20px;
}
/* page name*/
nav div #logo p{
	float: left;
	color: #FFFFFF;
	margin-top: 25px;
}
/*space*/
nav div #mspace{
	padding-right: 100px;
}
/*navbar icons*/
nav i {
	color: #FBF8F8;
	float: right;
	margin-top: 25px;
	padding-right: 30px;
}
/*navbar icons style when hover*/
nav i:hover{
	color: #FDDB83;
}
/*navbar items case*/
nav ul li{
	display: inline-block;
	color: #FFFFFF;
	margin-top: 25px;
	padding-right: 20px;
	float: right;
}
/*navbar items case when hover*/
nav ul li:hover{
	color: #FDDB83;
}
/*navbar first item*/
nav ul li#sa{
	color: #FDDB83;
}
/*navbar first item when hover*/
nav ul li#sa:hover{
	color: #FFFFFF !important;
}
/*end of page navbar*/
/*page header*/
header {
	width: 100%;
	height: 700px;
	padding-top: 0px;
	margin: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}
nav ul a{
	color: white;
}
nav ul a:hover{
	color:#F8E489; 
}
header div img#pro{
	width: 160px;
	height: 190px;
	margin-top: 150px;
	border-radius: 100%;
	border: 2px #F8E489 solid;
}
/*header first paragrath*/
header div#headerp{
	width: 1000px;
	height: 300px;
	float: right;
	margin-right: 100px;
	margin-top: 100px;
	font-size: 28px;
}
/* header second paragrath*/
header p.p1{
	font-size: 25px;
	position: absolute;
	float: right;
	margin-top: 80px;
	font-family: 'B Nazanin';
}
/*header heading*/
header h1{
	position: absolute;
	float: right;
	padding-top: 10px;
	font-size: 70px;
	font-family: 'IranNastaliq';
}
/*header bold word*/
header h1 span{
	color: #FDDB83;
}
/*header third paragrath*/
header p.p2{
	font-size: 25px;
	position: absolute;
    float: right;
	padding-top: 130px;
	font-family: 'B Nazanin';
}
/*header fourth paragrath*/
header p.p3{
	position: absolute;
	font-size: 20px;
	float: right;
	margin-top: 170px;
	font-family: 'B Nazanin';
}
/*end header*/
/*section*/
/*first part */
section div.firstdiv{
	width: 100%;
	height: 260px;
	padding-top: 0px;
	margin: 0px;
	background-size: cover;
	font-family: 'B Nazanin';
}/*first part case*/
section div div.firstdivv{
    width: 100%;
	height: 260px;
	color: white;
	overflow: hidden;
	font-weight: bolder;
}
/*first part case when hover*/
section div div.firstdivv:hover{
	background-color: #FDDB83;
	opacity: 0.8;
	color: black;
}/*case first paragraph*/
section div div p#pfd{
	padding-right: 100px;
	font-size: 25px;
}
/*case first paragraph when hover*/
section div div p#pfd:hover{
	color: black;
}/*end of first part*/
/*second part*/
section div.seconddiv{
	margin-top: 0px;
	width: 100%;
	height:600px;
	background-color:white;
}
/*second part first paragraph*/
section div p.secondp{
	padding-top: 50px;
	padding-right: 100px;
	color: black;
	text-align: right;
	font-family: 'IranNastaliq';
	font-size: 48px;
}
section div p.secondp:hover{
	color:#FDDB83;
}
/*paragraph away word*/
section div p span{
	color:#FDDB83;
}
section div p pre img#img{
	width: 10px;
	height: 10px;
	display: inline-block;
}
/* second paragraph */
section div pre.pr{
	padding-right: 150px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 25px;
	font-family: 'B Nazanin';
}
/*first area*/
section div#farea{
	float: left;
	text-align: center;
	border: 4px solid #FDDB83;
	border-radius: 15px 0px;
	padding: 20px;
	font-size: 20px;
	margin-left: 100px;
	margin-top: 40px;
	font-family: 'B Nazanin';
}/*areas paragraph*/
section div div pre{
	padding-top: 30px;
	color: black;
	text-align: center;
	font-family: 'B Nazanin';
}
/*first area more link*/
section div div#farea a{
	border: 3px solid #FDDB83;
	border-radius: 30px;
	display:inline-block;
	padding: 10px 70px;
	margin-top: 30px;
	color:black;
	background-color: white;
	font-family: 'B Nazanin';
}
/*first area more linkwhen hover*/
section div#farea:hover{
	background-color: #FDDB83;
}
/*second area*/
section div#sarea{
	float: left;
	text-align: center;
	border: 4px solid #FDDB83;
	border-radius: 15px 0px;
	padding: 20px;
	font-size: 20px;
	margin-left: 150px;
	margin-top: 40px;
	padding-bottom: 100px;
	font-family: 'B Nazanin';
}
/*second area when hover*/
section div#sarea:hover{
	background-color: #FDDB83;
}
/*third area*/
section div#tarea{
	float:right;
	text-align: center;
	border: 4px solid #FDDB83;
	border-radius: 15px 0px;
	padding: 30px;
	font-size: 20px;
	padding-bottom: 100px;
	margin-right: 100px;
	margin-top: 40px;
}
/*third area when hover*/
section div#tarea:hover{
	background-color: #FDDB83;
}
/*end of second part*/
/*third part*/
section div#Thirddiv{
	margin-top: 0px;
	width: 100%;
	height:500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}
/*third part icon*/
section div#Thirddiv i{
	padding-top: 200px;
	margin-right: 150px;
	font-size:40px;
}
/*third part icon when hover*/
section div#Thirddiv i:hover{
	color: #FDDB83;
}
/*icon away paragraph*/
section div#Thirddiv i span{
	font-family: 'IranNastaliq';
	padding-right: 20px;
	font-size: 55px;
}
/*end of third part*/
/*fourth part*/
section div#fourthdiv{
	width: 100%;
	height: 650px;
	text-align: center;
	padding-top: 100px;
	color: dimgray;
	font-family: 'B Nazanin';
}
/*part heading*/
section div#fourthdiv h2{
    color: black;
    padding-bottom: 30px;
	margin-bottom: 20px;
}
/*part heading when hover*/
section div#fourthdiv h2:hover{
	color: #FDDB83;
}
/*visit more link*/
section div#fourthdiv div a{
	font-weight: bold;
	color: black;
	font-size: 20px;
	padding: 30px;
	margin-top: 30px;
}
/*visit more link when hover*/
section div#fourthdiv div a:hover{
	text-decoration: underline;
	color: #FDDB83;
}
/*page case for gallery*/
section div#fourthdiv div#Gallery{
	width: 100%;
	height: 300px;
	margin-top: 50px;
}
/*gallery case */
section div#fourthdiv div#Gallery div{
	display: inline-block;
	height: 300px;
	width: 24.5%;
}
/* paragraph away*/
section div#fourthdiv pre{
	font-family: 'B Nazanin';
}
/*galery image property*/
section div#fourthdiv div#Gallery div img{
	height: 300px;
	width: 100%;
	border-radius: 10px;
}
/*gallery button fore visit more*/
section div#fourthdiv button{
	text-align: center;
	border-radius: 30px;
	border: 2px solid #FDDB83;
	font-size: 20px;
	padding: 10px 50px;
	float: left;
	font-family: 'B Nazanin';
	margin-left: 45%;
	margin-top: 40px;
	color: #FDDB83;
	background-color: white;
}
/*gallery button fore visit more when hover*/
section div#fourthdiv button:hover{
	background-color: #FDDB83;
	color: black;
}
/*fifth part*/
section div#fifthdv{
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
}
/*sixth part*/
section div#sixthdiv{
	width: 100%;
	height: 800px;
	font-family: 'B Nazanin';
	
}

/*part case*/
section div#sixthdiv div{
	background-color: aliceblue;
	position: absolute;
	height: 400px;
	width: 40%;
	margin-right: 30%;
	border-radius: 30px;
	display: inline-block;
}
/*sixth part img for profile*/
section div#sixthdiv div img{
	float: right;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 30px 40px;
}
/*web designer name p*/
section div#sixthdiv div pre{
	text-align:right;
	font-size: 20px;
	font-weight: bold;
	margin: 30px 40px;
}
/*web designer name p when hover*/
section div#sixthdiv div pre:hover{
	color: #FDDB83;
}
/* web designer explain*/
section div#sixthdiv div p{
	font-size: 20px;
	margin:10px 100px;
	padding: 20px;
	text-align: right;
	width: 400px;
	height:30px;
	color: black;
}
section div#sixthdiv div p#p2{
	font-size: 20px;
	margin:20px 160px;
	padding: 20px;
	text-align: right;
	width: 400px;
	height:30px;
	color: black;
}
/*web designer icons*/
section div#sixthdiv div p i{
	float: left;
	font-size: 20px;
	color: #FDDB83;
}
/*web designer first icon*/
section div#sixthdiv i#i1{
	font-size: 35px;
	margin-right:69%;
	margin-top: 100px;
	background-color:black;
	color: white;
	border-radius: 40px;
	position: absolute;
}
/*web designer second icon*/
section div#sixthdiv i#i2{
	font-size: 35px;
	margin-right:69%;
	margin-top: 200px;
	background-color:black;
	color: white;
	border-radius: 40px;
	position: absolute;
}
/*end of sixth part*/
/* seventh part*/
section div#seventhdiv{
	width: 100%;
	height: 500px;
	background-size: cover;
	font-family: 'B Nazanin';
}
/*seventh part img logo band*/
section div#seventhdiv img{
	height: 100px;
	width: 80%;
	margin-right: 150px;
	border: 2px solid rgba(203,203,203,1.00);
	margin-top: -50px;
}
/*seventh part case*/
section div#seventhdiv div{
	background-color: aliceblue;
	border: 2px solid rgba(203,203,203,1.00);
	width: 50%;
	height:500px;
	margin-right: 400px;
	margin-top: 200px;
	position: absolute;
}
/*form heading paragraph style*/
section div#seventhdiv div form p{
	text-align: right;
	font-size: 30px;
	font-weight: bold;
	margin: 30px 60px;
}
/*form heading paragraph style when hover*/
section div#seventhdiv div form p:hover{
	color: #FDDB83;
}
/*form email style*/
section div#seventhdiv div form input[type=email]{
	border: 1px solid rgba(156,152,152,1.00);
	background-color:rgba(242,242,242,1.00);
	color: rgba(68,68,68,1.00);
	border-radius: 5px;
	width: 300px;
	height: 40px;
	margin-right: 60px;
	font-family: 'B Nazanin';
	padding-right: 7px;

}
/*form name style*/
section div#seventhdiv div form input[type=text]{
	border: 1px solid rgba(156,152,152,1.00);
	background-color:rgba(242,242,242,1.00);
	color: rgba(68,68,68,1.00);
	border-radius: 5px;
	width: 300px;
	height: 40px;
	margin-right: 50px;
	font-family: 'B Nazanin';
	padding-right: 7px;
}
/*form email style when hover*/
section div#seventhdiv div form input[type=email]:hover{
	background-color: #FDDB83;
	border: 3px solid #FDDB83;
}
/*form name style when hover*/
section div#seventhdiv div form input[type=text]:hover{
	background-color: #FDDB83;
	border: 3px solid #FDDB83;
}
/*form comment style*/
section div#seventhdiv div form textarea{
	width: 670px;
	height: 200px;
	margin: 25px 60px 25px 0px;
	border-radius: 5px;
	border: 1px solid rgba(156,152,152,1.00);
	background-color:rgba(242,242,242,1.00);
}
/* form comment style when hover*/
section div#seventhdiv div form textarea:hover{
	background-color: #FDF8D6;
	border: 3px solid #FDDB83;
}
/* form submit style */
section div#seventhdiv div form input[type=submit] {
	border-radius: 5px;
	padding: 10px 70px;
	font-family: 'B Nazanin';
	font-size: 20px;
	cursor: pointer;
	border:3px solid #FDDB83;
	background-color: rgba(0,0,0,0.00);
	float: left;
	color: #FDDB83;
	margin-left: 100px;
	font-weight: bold;
}
/* submit style when hover*/
section div#seventhdiv div form input[type=submit]:hover{
	color:white;
	background-color:#FDDB83;
}
/* end of seventh part*/
/* page footer*/
section footer{
	width: 100%;
	height: 300px;
	background-repeat: round;
	font-family: 'B Nazanin';
}
/*web icon*/
section footer i{
	font-size:60px;
	color: #FDDB83;
	margin-top: 100px;
	margin-right: 200px;
}
/*footer heading*/
section footer h2{
	display: inline-block;
	color:  black;
	font-size:30px;
	margin-top: 300px;
}

/*end page footer*/